.CardContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: var(--search_bar_field_background);
    margin: 0 8px 0 0;
    padding-bottom: 8px;
    border-radius: 8px;
    width: min-content;
    max-height: 290px;
    position: relative;
}

.CardTextContainer {
    max-height: 74px;
    overflow: hidden;
}

.CardElement {
    margin-right: 0 !important;
    border-radius: 8px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.CardElementImage {
    width: 148px !important;
    height: 148px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.CardElementBackground {
    background-color: var(--search_bar_field_background) !important;
}

.CardTitle {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 8px 0;
    white-space: normal;
    color: var(--text_primary);
}

.CardDescription {
    font-size: 14px;
    color: #828385;
    padding: 4px 8px 8px;
    white-space: normal;
    overflow: hidden;
    max-width: calc(144px - 16px);
}

.CardButtonContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 8px;
    margin: auto 0 0 !important;
}

.CardButtonContainer > .Button--lvl-secondary {
    /*background-color: #fbfbfb;*/
    /*color: #030303;*/
}

.CardButtonContainer > .Button--lvl-secondary > .Button__in > .Button__content > span {
    /*color: #3f8ae0;*/
}

.CardButtonContainer > .Button--lvl-secondary > .Button__in > .Button__content > div > span {
    /*color: #3f8ae0;*/
}

.CardButtonPlatform {
    position: absolute;
    top: 0;
    right: 6px;
    z-index: 3;
    font-weight: 600;
    font-size: 14px;
    padding: 1px 12px;
    background: var(--search_bar_field_background);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.CardButton {
    margin: 8px 0 0;
    min-height: 30px;
}

.CardButtonSkeleton {
    padding: 0 8px;
}

.CardButtonSkeleton > span {
    border-radius: 10px;
}