.GameContainer {
    padding-bottom: 72px;
}

.GameLogoContainer {
    height: 242px;
}

.GameLogo {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
}

.GameInfoRow {
    margin: 12px 0 0;
}

.GameScreenshotsInfoCell {
    display: flex;
    align-items: center;
}

.GameScreenshotsInfoCell > .MiniInfoCell__content {
    font-size: 16px;
}

.GameScreenshotsInfoCell > .MiniInfoCell__after > button {
    padding: 0 0 0 16px;
}

.GameScreenshotsInfoCell > .MiniInfoCell__after > button > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 4px 2px 4px 12px;
}

.GameScreenshotsInfoCell > .MiniInfoCell__after > button > div > div > p {
    padding: 0;
    margin: 0;
}

.GameScreenshotsInfoCell > .MiniInfoCell__after > button > div > div > div {
    margin-left: 8px;
}

.GameShortScreenshotsGallery {
    height: 224px;
}

.GameShortScreenshotsGallery > .Gallery__viewport {
    margin: 0;
}

.GameShortScreenshotsGallery > .Gallery__viewport > .Gallery__layer > .Gallery__slide > div {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.GameShortScreenshotsArrows {
    display: flex;
    margin-bottom: 58px;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 12px;
}

.GameShortScreenshotsArrows > button {
    padding: 6px;
}

.GameShortScreenshotsArrows > button:nth-child(1) {
    margin-right: 8px;
}

.GameBuyBottomLayout {
    background: var(--background_content);
}

.GameBuyBottomLayout > .FixedLayout__in > .GameBuyBottomContainer {
    display: flex;
}

.GameBuyBottomLayout > .FixedLayout__in > .GameBuyBottomContainer > .GameBuyBottomBack {
    margin-right: 8px;
}

.GameBuyBottomLayout > .FixedLayout__in > .GameBuyBottomContainer > .GameBuyBottomBack > .Button__in > .Button__content {
    padding: 0;
}

.GameBuyBottomLayout > .FixedLayout__in > .GameBuyBottomContainer > .GameGoToBasket {
    margin-left: 8px;
}

.GameAgeRestrict > .Avatar__in > .Avatar__children {
    background: transparent;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.GameAgeRestrict18 > .Avatar__in > .Avatar__children {
    background: var(--dynamic_red);
}

.GameAgeRestrict16 > .Avatar__in > .Avatar__children {
    background: var(--dynamic_orange);
}

.GameAgeRestrict12 > .Avatar__in > .Avatar__children {
    background: var(--dynamic_green);
}

.GameAgeRestrict0 > .Avatar__in > .Avatar__children {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.GamePlatform > .Avatar__in > .Avatar__img {
    padding: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: transparent;
    border-radius: 0 !important;
}

.GamePlatform > .Avatar__in > .Avatar__shadow {
    display: none;
}

.MuiSpeedDial-directionUp {
    flex-direction: column-reverse;
}

.MuiSpeedDial-directionUp .MuiSpeedDial-actions {
    margin-bottom: -32px;
    flex-direction: column-reverse;
    padding-bottom: 48px;
}

.MuiSpeedDial-directionDown {
    flex-direction: column;
}

.MuiSpeedDial-directionDown .MuiSpeedDial-actions {
    margin-top: -32px;
    padding-top: 48px;
    flex-direction: column;
}

.MuiSpeedDial-directionLeft {
    flex-direction: row-reverse;
}

.MuiSpeedDial-directionLeft .MuiSpeedDial-actions {
    margin-right: -32px;
    padding-right: 48px;
    flex-direction: row-reverse;
}

.MuiSpeedDial-directionRight {
    flex-direction: row;
}

.MuiSpeedDial-directionRight .MuiSpeedDial-actions {
    margin-left: -32px;
    padding-left: 48px;
    flex-direction: row;
}

.GameShortGalleryLast {

}

.GameShortGalleryLast > .Placeholder {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.GameShortGalleryLast > .Placeholder > .Placeholder__in > .Placeholder__header {
    font-weight: 600;
    color: #ffffff;
}

.GameShortGalleryLast > .Placeholder > .Placeholder__in > .Placeholder__text {
    color: #ffffff;
}

.GameShortGalleryShowAllEntry {
    padding: 4px 12px;
}

.ScreenshotsLogoContainer {
    height: fit-content;
}

.ScreenshotsLogoContainer > .Gallery__viewport > .Gallery__layer {
    flex-flow: column;
}

.ScreenshotsLogoContainer > .Gallery__viewport > .Gallery__layer > .Gallery__slide > .ScreenshotsLogo {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-bottom: 12px solid var(--background_content);
    height: 220px;
}

.ScreenshotsLogoContainer > .Gallery__viewport > .Gallery__layer > .Gallery__slide > .ScreenshotsReturn {
    width: calc(100% - 24px);
    border-bottom: 12px solid var(--background_content);
}

